body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: midnightblue;
	color: #fff;
	padding: 20px;
	text-align: center;
  margin:20px;
}

div>.container{
	background-color:midnightblue;
  color:white ;
	padding: 10px;
	margin:20px;
}

div ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

div li {
	display: inline-block;
}

div a {
	color: white;
	text-decoration:none;
	padding: 10px;
}

div a:hover {
	background-color: white;
	color:black;
}

.container{
	background-color: midnightblue;
	color: white;
	display:flex;
	justify-content:space-around;
	padding:20px;
	margin:20px;
}
.item{
	flex-basis: 100%;
  text-align: center;
  padding: 15px;
	margin-right:50px;
	margin-left:50px;
}

.hero {
	background-position: center;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color:black;
}

.search,.book {
	padding: 20px;
	align-items: center;
}

.search h2 ,.book h2{
	margin-top: 0;
}

.search label,.book label {
	display: block;
	margin-bottom: 10px;
}
#trip{
	border:none;
	display: inline-block;
	font-size: 16px;
}
#class{
	border:none;
	margin-bottom: 20px;
	font-size: 16px;
}

.search input[type="text"], .search input[type="date"],.book input[type="text"]{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	display:inline-block;
	width: 30%;
	box-sizing: border-box;
	text-align:center;
}

.search input[type="submit"] {
	background-color:midnightblue;
	color: white;
	border: none;
	cursor: pointer;
	display:block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 75px;
	display:block;
	width: 30%;
	box-sizing: border-box;
	margin-left:300px;
	margin-top:20px;
}
.book input[type="submit"]{
	text-align: center;
	background-color:midnightblue;
	color: white;
	border: none;
	cursor: pointer;
	display:block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 30%;
	box-sizing: border-box;
	margin-left:490px;;
	margin-top:20px;
}

.search input[type="submit"]:hover {
	background-color: gray;
	color: white;
}

.book input[type="submit"]:hover {
	background-color: gray;
	color: white;
}

footer {
	background-color: #eee;
	padding: 10px;
	text-align: center;
}

.airplane{
	width:97%;
	height:400px;
	margin: 20px;
}
.quote{
	text-align: center;
	font-family:'Times New Roman', Times, serif;
	color:midnightblue;
}
#adult{
	display:inline-block;
	width:100px;
	text-align:left;
	margin-bottom: 15px;
}
#child{
	display:inline-block;
	width:100px;
	text-align:left;
	margin-bottom: 15px;
}
#infant{
	display:inline-block;
	width:100px;
	text-align:left;
	margin-bottom: 15px;
}
.dropdown{
	float:left;
	margin-left:450px;
	margin-right:100px;
}
.details{
	margin-right:100px;
	display:block;
}
.search-flight{
	text-align: center;
	margin-bottom:30px;
}
.book{
	text-align: center;
	margin-bottom: 93px;
}
.booking-details{
	text-align: center;
}
.contact{
	text-align: center;
	margin-top:100px;
	margin-bottom:300px;
}
.contact>p{
	font-size:20px;
	font-weight: bold;
}